{% extends "layout.html"%}

{% block content %}

<div class="about-container">
  <section class="about-section">
    <div class="card-container">
      <!-- Education Card -->
      <div class="info-card">
        <h3>Education</h3>
        <ul>
          <li><strong>B.Tech in Computer Science & Engineering </strong><br>NIST University, 2022–2026 <br> cgpa-7.8</li>
          <li><strong>Intermediate</strong><br>De Paul College, Berhampur 2019–2021 <br> secured-79.4%</li>
          <li><strong>High School</strong><br>De Paul School, 2019 <br> secured-89%</li>
        </ul>
      </div>

      <!-- Experience Card -->
      <div class="info-card">
        <h3>Experience</h3>
        <ul>
          <li><strong>Python Developer Intern </strong><br>Asirudh Software Pvt Ltd (June 2025-july 2025)</li>
          
        </ul>
      </div>

      <!-- Skills -->
      <div class="info-card">
        <h3>Skills</h3>
        <ul>
          <li><strong>Programming & Backend: </strong><br>Python, Java, DSA using Java, Flask (web framework), AWS Cloud Foundation,SQL,Mongodb</li>
          <li><strong>Web Development:</strong><br>HTML, CSS, JavaScript, TypeScript, Node.js, Flask</li>
          <li><strong>Cloud & DevOps:</strong><br>AWS Cloud Foundation</li>
          <li><strong>Cybersecurity Tools & Techniques:</strong><br>Metasploit, Nmap, Wireshark, OSINT Framework, etc.</li>
          <li><strong>Version Control & Deployment: </strong><br>Git, GitHub, PythonAnywhere</li>
          <li><strong>Operating Systems: </strong><br>Linux (Kali), Windows</li>
        </ul>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
