{% extends "layout.html "%}

{% block content %}

  <p class="centered-italic">"Hello, I'm Kishan Kumar Sahu — an aspiring Information Security Analyst with a strong interest in cybersecurity, ethical hacking, and digital protection. I also have hands-on experience as a Full-Stack Developer, building secure and scalable web applications using modern technologies. I'm passionate about combining development and security to create robust digital solutions."</p>

  <section class="about-section">
  

  <div class="card-container">
    <!-- Education Card -->
    <div class="info-card">
      <h3>Education</h3>
      <ul>
        <li><strong>B.Tech in Computer Science & Engineering </strong><br>NIST University, 2022–2026 <br> current sgpa-8.36</li>
        <li><strong>Intermediate</strong><br>De Paul College,Berhampur 2019–2021 <br> secured-79.4%</li>
        <li><strong>High School</strong><br>De Paul School, 2019 <br> secured-89%</li>
      </ul>
    </div>

    <!-- Experience Card -->
    <div class="info-card">
      <h3>Experience</h3>
      <ul>
        
        <li><strong>Python Developer Intern </strong><br>Asirudh pvt ltd (2025)</li>
        <li><strong>Open Source Contributor</strong><br>GitHub & Public Repos</li>
      </ul>
    </div>

    <!-- Skills -->
    <div class="info-card">
      <h3>Skills</h3>
      <ul>
        
        <li><strong>Programming & Backend: </strong><br>Python,Java,DSA using java,flask(webframework),AWS cloud foundation</li>
        <li><strong>Web Development:</strong><br>HTML,CSS,JavaScript</li>
        <li><strong>Cybersecurity Techniques:</strong><br>OSINT (Open-Source Intelligence), Passive Reconnaissance, Penetration Testing using Kali Linux,Vulnerability Assessment with Metasploitable</li>
        <li><strong>Tools</strong><br>Kali Linux , Nmap , Metasploitable, OSINT Framework</li>
        <li><strong>Soft Skills</strong><br>Problem-Solving, Communication, Team Collaboration, Leadership</li>
      </ul>
    </div>

  </div>
</section>


{% endblock content%}